<div class="dropdown">
    <a {{#if session.loggedIn}}href="#" {{else}}href='/login'
        {{/if}}class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        {{#if session.loggedIn}}data-bs-toggle="dropdown" {{/if}} aria-expanded="false">
        <img src="
        {{#if session.avatar}}{{session.avatar}}{{else}}https://www.svgrepo.com/show/5319/user.svg{{/if}}" alt=""
            width="32" height="32" class="rounded-circle me-2 fancy-button">
        <strong>{{#if session.loggedIn}}{{session.username}}{{else}}Sign In</a>{{/if}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/newPost"><img class='icon invert'
                    src="https://www.svgrepo.com/show/156528/list.svg" /> Post New Listing</a></li>
        <li><a class="dropdown-item" href="/user/dashboard#directMessage-dashboard">
                {{#if session.newMessages}}
                <img class='icon invert' src="https://www.svgrepo.com/show/304513/messages-alert.svg" />
                {{else}}
                <img class='icon invert' src="https://www.svgrepo.com/show/304507/messages.svg" />
                {{/if}}
                Messages</a></li>
        <li><a class="dropdown-item" href="/user/{{session.user_id}}"><img class='icon invert'
                    src="https://www.svgrepo.com/show/358177/setting.svg" /> Profile/Settings</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item logout" href="#">Sign out</a></li>
    </ul>
</div>