<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poseidon's Trunk</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <section id="navTitle">
            <nav>
                <a href="/">Home</a>
                {{#if session.loggedIn}}
                <a href="/dashboard">Dashboard</a>
                <a href='#' id="logout" class="btn-no-style">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
            <a class='title' href="/"><img src="/images/medium_logo.png"></a>
            {{#if session.loggedIn}}
            Welcome {{session.username}}
            {{/if}}
        </section>
        <section>
            {{#if session.loggedIn}}
            <div id='myLinks'>
                <a class="nochange" href="/newPost">New Post</a>
            </div>
            <div id="myAccount">

                <div id='myProfile'>
                    <img src="https://www.svgrepo.com/show/5319/user.svg" style="width:4rem;" />
                    <a class="nochange" href="/user/{{session.user_id}}">My Profile</a>
                </div>
                {{/if}}
            </div>
        </section>
    </header>

    <hr>
    <section class="category-list">
        <ul>
            {{#each categories as |cat|}}
            <li><a class="catLink" href="/{{cat.name}}">{{cat.name}}</a></li>
            {{/each}}
        </ul>
    </section>
    <hr>

    <main>
        {{{ body }}}
    </main>
    <footer>
        <hr>
        Thank You {{session.username}}!
    </footer>
    {{#if session.loggedIn}}
    <script src="/javascript/logout.js"></script>

    {{/if}}
</body>

</html>