<section id="dash-head">
    <h1>DASHBOARD :</h1> <a href='#posts-dashboard'> My Posts </a> <a href='#directMessage-dashboard'> My Messages </a>
</section>
<section class="newPost-dashboard">
    <h2 class="dashboard-title">
        Create New Post
    </h2>
    <div class="form-btn-container">
        <a href="/newPost/">
            <button class="form-btn">Start New Post</button>
        </a>
    </div>
</section>
<hr>
<a id="posts-dashboard"></a>
<section class="posts-dashboard">
    <h2 class="dashboard-title">Active Posts : {{posts.length}}</h2>
    {{#if posts.length}}
    {{#each posts as |post|}}
    <section class='single-post-containter'>

        {{> post-view post}}

        <div class='edit-div'>
            <a href='/edit/{{post.id}}'> Manage </a>

        </div>
    </section>
    {{> dash-messages post}}
    {{/each}}

    {{else}}
    <h2>No Posts</h2>
    {{/if}}
</section>

<hr>
<a id="directMessage-dashboard"></a>
<section class="directMessage-dashboard">
    <h2 class="dashboard-title">Direct Message Conversations - {{DMs.length}}</h2>
    {{#if DMs.length}}
    {{#each DMs as |convo|}}
    <section class='convo-containter'>
        {{> dash-dm convo}}
    </section>
    {{/each}}
    {{else}}
    <h2>No DMs</h2>
    {{/if}}
</section>

<script src="/javascript/message.js"></script>