<section id="dash-head">
    <h1>DASHBOARD :</h1> <a href='#posts-dashboard'>
        <div class='dash-nav'> My Posts
            {{#if newMsg.newPostMsg.length}}<div class='newmsg'>
                {{ newMsg.newPostMsg.length }} {{format_plural 'response' newMsg.newPostMsg.length }}
            </div>
            {{/if}}
        </div>
    </a> <a href='#directMessage-dashboard' id='myMessages'>
        <div class='dash-nav'> My Messages
            {{#if newMsg.newDMs.length}}<div class='newmsg'>
                {{newMsg.newDMs.length}} new
            </div>
            {{/if}}
        </div>
    </a>
</section>
<hr>
<section class="newPost-dashboard mr-3">
    <h2 class="d-inline">
        Create New Post :
    </h2>
    <div class="form-btn-container">
        <a href="/newPost/" class='text-decoration-none'>
            <button class="form-btn fancy-button py-2 ">Start New Post</button>
        </a>
    </div>
</section>
<a id="posts-dashboard"></a>
<section class="posts-dashboard">
    <h2 class="dashboard-title">{{posts.length}} Active {{format_plural 'Post' posts.length }} </h2>
    {{#if posts.length}}
    {{#each posts as |post|}}
    <section class='single-post-containter'>

        {{> post-view post}}

        <div class='edit-div'>
            <a href='/edit/{{post.id}}'> Manage </a>

        </div>
    </section>
    {{> dash-messages post}}
    {{/each}}

    {{else}}
    <h2>No Posts</h2>
    {{/if}}
</section>

<hr>
<a id="directMessage-dashboard"></a>
<section class="directMessage-dashboard">
    <h2 class="dashboard-title">{{DMs.length}} {{format_plural 'Conversation' DMs.length }} </h2>
    {{#if DMs.length}}
    {{#each DMs as |convo|}}
    <section class='convo-containter' id='convo-{{convo.id}}'>
        {{> dash-dm convo}}
    </section>
    {{/each}}
    {{else}}
    <h2>No DMs</h2>
    {{/if}}
</section>

<script src="/javascript/message.js"></script>