{{#if session.loggedIn}}
{{#if (ifEquals session.user_id user.id)}}
<div class="login-container">
    <section class="login-body">
        <form class="edit-form">
            <h2 class="title">
                Your Info
            </h2>
            <div class="content user-login">
                <div>
                    <label for="username-edit">name:</label>
                    <input type="text" id="username-edit" value="{{user.username}}" />
                </div>
                <div>
                    <label for="email-edit">email:</label>
                    <input type="text" id="email-edit" value="{{user.email}}" />
                </div>
                <div>
                    <label for="private-edit">private (hides email):</label>
                    <input type="checkbox" id="private-edit" {{#if user.private}}checked{{/if}} />
                </div>
                <div>
                    <label for="user-joined">joined:</label>
                    <input type="text" id="user-joined" value="{{format_date user.created_at}}" readonly />
                </div>
                <div>
                    <label for="about-edit">about:</label>
                    <textarea id="about-edit">{{user.about}}</textarea>
                </div>
                <hr>
                <h3>Update Password</h3>
                <div>
                    <label for="password-edit">password:</label>
                    <input type="password" id="password-edit" placeholder="enter password; min 8 characters" />
                </div>
                <div>
                    <label for="password-edit2">confirm:</label>
                    <input type="password" id="password-edit2" placeholder="enter password again" />
                </div>
            </div>
            <div class="form-btn-container">
                <button class='user-edit-btn form-btn' type="submit">Save Changes</button>
            </div>
        </form>
    </section>
</div>
<script src="/javascript/edit-user.js"></script>

{{else}}

<div class="login-container">
    <section class="login-body">
        <form class="edit-form">
            <h2 class="title">
                User Info
            </h2>
            <div class="content user-login">
                <div>
                    <label for="username-edit">name:</label>
                    <input type="text" id="username-edit" value="{{user.username}}" readonly />
                </div>
                {{#unless user.private}}
                <div>
                    <label for="email-edit">email:</label>
                    <input type="text" id="email-edit" value="{{user.email}}" readonly />
                </div>
                {{/unless}}
                <div>
                    <label for="user-joined">joined:</label>
                    <input type="text" id="user-joined" value="{{format_date user.created_at}}" readonly />
                </div>
                <div>
                    <label for="about-edit">about:</label>
                    <textarea id="about-edit" readonly>{{user.about}}</textarea>
                </div>
            </div>
        </form>
    </section>
</div>
{{/if}}
{{/if}}

{{#if user.posts.length}}
<section id="your-posts">
    <h2 class="section-title">Post History</h2>

    <ol>
        {{#each user.posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}